# ملفات البيئة الحساسة
.env

# قاعدة البيانات المحلية
*.db
*.sqlite3

# المجلدات الخاصة بالبيئة الافتراضية
venv/
.venv/
env/
.venv/

# ملفات بايثون المؤقتة
__pycache__/
*.pyc
*.pyo

# مجلدات وإعدادات محررات الأكواد (مثل PyCharm, VSCode)
.idea/
.vscode/
*.swp
*.swo

# سجلات (logs) إن وجدت
*.log

# ملفات نظام التشغيل المؤقتة
.DS_Store
Thumbs.db